@import 'utils';

.hdl {
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: toRem(100);
  color: rgba(175, 47, 47, 0.15);
  font-weight: 100;
  text-align: center;
  margin: toRem(11)
}

.container {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  width: 100%;
  max-width: toRem(550);
  margin: auto;
}

.input{
  font-size: toRem(24);
  padding: toRem(16) toRem(16) toRem(16) toRem(60);
  border: 0;
  //box-shadow: rgba(0, 0, 0, 0.03) 0px -2px 1px 0px inset;
  box-shadow: inset 0 -2px 1 0 rgb(0 0 0 / 3%);
  background-color: rgba(0, 0, 0, 0.004);
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  &::placeholder{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    color: #e6e6e6;
    font-weight: 300;
  }

}